[submodule "ZLToolKit"]
	path = 3rdpart/ZLToolKit
	url = https://github.com/xiongziliang/ZLToolKit.git
[submodule "3rdpart/media-server"]
	path = 3rdpart/media-server
	url = https://github.com/xiongziliang/media-server
