# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.d

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
#*.dylib
#*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.lib

# Executables
#*.exe
*.out
*.app
/X64/
.idea

cmake_install.cmake
CMakeCache.txt
ZLMediaKit.cbp
CMakeFiles
bin
test/CMakeFiles
test/Makefile
server/CMakeFiles
server/Makefile
*.DS_Store

cmake-build-debug
build
mac_build
linux_build
android_build
ios_build
/c_wrapper/.idea/


Makefile
bin/
lib/
tests/Makefile